* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: #2c3e50;
}

#jumbotron,
#about {
  background-color: #1abc9c;
}

.copyright {
  background-color: #2c3e50;
}

footer {
  background-color: #3a546d;
}

#jumbotron img {
  width: 300px;
  height: auto;
}
