* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header Navbar */

ul {
  list-style-type: none;
}

header {
  background-color: #2c3e50;
}

header ul li {
  display: inline-block;
}
header ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 25px;
  padding: 8px;
}

header {
  background-color: #2c3e50;
  height: 90px;
}

header h2 {
  font-weight: bold;
}

/* Main */

#jumbotron,
#about {
  background-color: #1abc9c;
}

.copyright {
  background-color: #2c3e50;
}

footer {
  background-color: #3a546d;
}

#jumbotron img {
  max-width: 300px;
  height: auto;
}

h1 {
  font-size: 60px;
  padding-top: 10px;
  font-weight: bold;
}

.cs-star-wrapper:before,
.cs-star-wrapper:after {
  content: "";
  display: inline-block;
  width: 15%;
  height: 4px;
  background-color: white;
  vertical-align: middle;
  line-height: 4px;
}

.cs-star-wrapper i.fa-star {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}
