* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Header Navbar */

ul {
  list-style-type: none;
}

header {
  background-color: #2c3e50;
}

header ul li {
  display: inline-block;
}
header ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
}

header {
  background-color: #2c3e50;
  height: 90px;
}

header h2 {
  font-weight: bold;
}

/* Main */

#jumbotron,
#about {
  background-color: #1abc9c;
}

.copyright {
  background-color: #2c3e50;
}

footer {
  background-color: #3a546d;
}

#jumbotron img {
  max-width: 300px;
  height: auto;
}

h1 {
  font-size: 60px;
  padding-top: 10px;
  font-weight: bold;
}

h3 {
  font-size: 50px;
  padding-top: 10px;
  font-weight: bold;
}

.cs-star-wrapper:before,
.cs-star-wrapper:after {
  content: "";
  display: inline-block;
  width: 15%;
  height: 5px;
  background-color: white;
  vertical-align: middle;
  line-height: 4px;
  border-radius: 2px;
}

.cs-star-wrapper i.fa-star {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 20px;
}

.cs-star-wrapper-dark:before,
.cs-star-wrapper-dark:after {
  content: "";
  display: inline-block;
  width: 15%;
  height: 5px;
  background-color: #2c3e50;
  vertical-align: middle;
  line-height: 4px;
  border-radius: 2px;
}

.cs-star-wrapper-dark i.fa-star {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 20px;
}

.img-wrapper {
  position: relative;
}

.img-wrapper:hover .cs-layover {
  background-color: rgba(26, 188, 156, 0.7);
  cursor: pointer;
}

.img-wrapper:hover .cs-layover i.fa-plus {
  display: block;
}

.cs-layover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cs-layover i.fa-plus {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: white;
}

/* About */

#about .btn {
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  background-color: #1abc9c;
  border-color: white;
}

#about .btn:hover {
  background-color: white;
  color: black;
  border-color: white;
}

#contact .btn {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

#contact .btn:hover {
  background-color: #47e2c3;
  color: black;
  border-color: #1abc9c;
}

.form-wrapper {
  width: 75%;
}

/* Footer */

.footer-link {
  color: #1abc9c;
  text-decoration: none;
}

.footer-link:hover {
  color: #1abc9ca6;
}

footer .socials {
  padding: 0;
}

footer .socials li {
  display: inline-block;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  padding-top: 0.8em;
}
